
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* overflow: hidden; */
  scrollbar-width: none;
}

.card{
  overflow: hidden;
}

.container-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000000;
  overflow: scroll;
  
}

.container-contact::-webkit-scrollbar{
  display: none;
}

.container-contact h2{
  text-align: center;
  color: #fff;
  margin: -47px 20px -2px -261px;
}

.box-contact{
  position: relative;
  width: 380px;
  height: 420px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;

}

.box-contact::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background-color:  rgb(0 255 231);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box-contact::after{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background-color: rgb(0 255 231);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

.borderLine{
  position: absolute;
  top: 0;
  inset: 0;
}

.borderLine::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background-color:  rgb(255 0 212);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}

.borderLine::after{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background-color: rgb(255 0 212);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
}

@keyframes animate {
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
  
}
.box-contact form{
  position: absolute;
  inset: 4px;
  background: #222;
  padding: 3px 37px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}



.box-contact form .inputBox{
  position: relative;
  width: 300px;
  margin-top: 30px;
}

.box-contact form .inputBox input{
  position: relative;
  width: 100%;
  padding: 35px 2px 1px;
  background: transparent;
  outline: none;
  box-shadow: none;
  color: white;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;

}

.box-contact form .inputBox span{
  position: absolute;
  left: 0;
  padding: 2px 2px 4px;
  pointer-events: none;
  color: #ffffff;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.box-contact form .inputBox input:valid ~ span,
.box-contact form .inputBox input:focus ~ span{
  color: #fff;
  font-size: 0.75em;
  transform: translate(-34px);
}



.box-contact form input[type="submit"]{
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #fff;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 4px;
  font-weight: 600;
  width: 100px;
  margin-top: 20px;

}

.box-contact form input[type="submit"]:active{
  opacity: 0.8;
}
