
.container-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #896060;
    overflow: scroll;
    
  }
  
  .container-contact::-webkit-scrollbar{
    display: none;
  }
  
  .container-contact h2{
    text-align: center;
    color: #fff;
    margin: -37px 50px -3px 30px;
  }

  .contact-icons{
    font-size: 2.2rem;
    margin: -21px 50px 5px 140px;

  }
  
  .box-contact{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
  
  }
  
  .box-contact::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background-color:  rgb(0 255 231);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
  }
  
  .box-contact::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background-color: rgb(0 255 231);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
  }
  
  .borderLine{
    position: absolute;
    top: 0;
    inset: 0;
  }
  
  .borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background-color:  rgb(255 0 212);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
  }
  
  .borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background-color: rgb(255 0 212);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
  }
  
  @keyframes animate {
    0%
    {
      transform: rotate(0deg);
    }
    100%
    {
      transform: rotate(360deg);
    }
    
  }
  .box-contact form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 17px 32px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  
  
  
  .box-contact form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 30px;
  }
  
  .box-contact form .inputBox input{
    position: relative;
    width: 100%;
    padding: 35px 2px 1px;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: white;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  
  }
  
  .box-contact form .inputBox span{
    position: absolute;
    left: 0;
    padding: 2px 2px 4px;
    pointer-events: none;
    color: #ffffff;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }
  
  .box-contact form .inputBox input:valid ~ span,
  .box-contact form .inputBox input:focus ~ span{
    color: #fff;
    font-size: 0.75em;
    transform: translate(-34px);
  }
  
  
  
  .box-contact form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 20px;
  
  }
  
  .box-contact form input[type="submit"]:active{
    opacity: 0.8;
  }
  

  /* .container.contact-container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact-option{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact-card{
    background: #bae7e5;
    padding: 0px 0px 0px 0px;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    /* margin-top: 0px 0px 0px 0px; */
/* } */

/* .contact-card h4{
    font-size: 15px;
}

.contact-card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact-card-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact-card a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    color:var(--color-white);
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary);
    resize: none;
    color: var(--color-white);
}

@media screen and (max-width: 1024px) {
    .container.contact-container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .container.contact-container{
        width: var(--container-width-sm);
    }
} */ 